{{$pid:=.Pid}}
<div class="box box-info">
	<div class="box-header">
		<h3 class="box-title">{{.PageTitle}}</h3>
		{{if ne .Goto ""}}
		<div class="box-tools">            
		<a href="{{.Goto}}" class="no-margin pull-right btn  bg-orange">返回</a>       
        </div>
		{{end}}
	</div>
	<div class="box-body">
	{{if(ne .Error "") }}
	
		<div class="callout callout-danger">
		<h4>{{.Error}}</h4>
		<p><span  id="timeout">5</span>秒后将返回 <a href="{{.Goto}}" id="timeoutReturn">立即返回</a></p>
		</div>
		 <script type="text/javascript">
		setInterval(function(){
			var t=parseInt($("#timeout").html());
			if(t==0){t=5;}
			if(t==1){location.href=$("#timeoutReturn").attr("href");return;}
			$("#timeout").html(t-1);return;
		},1000);
		</script>
	{{else}}
	<form class="form-horizontal" action="{{urlfor "PermitController.IframeEdit" "act" "add"}}" method="post" target="iframe-s">
	  <div class="form-group" loadUppid="{{urlfor "PermitController.GetChild"}}" id="loadUppid">
	    <label class="col-xs-2 control-label">上级权限</label>
		{{range $key,$value:=.PList}}
		<div class="col-xs-2">
		<select class="form-control" name="uppid[]"  onchange="changeUppid($(this));return;" >
		<option value="-1">--请选择--</option>
		{{range $k,$val:=$value}}
		<option {{if $val.Active}} selected="selected"{{end}} value="{{$val.Id}}">{{$val.Name}}</option>
		{{end}}
		</select>
		</div>
		{{end}}
	  </div>
	  <div class="form-group">
	    <label class="col-sm-2 control-label">名称</label>
	    <div class="col-xs-5">
	      <input type="text" class="form-control" id="name" name="name" value="{{.DataSingleton.Name}}" placeholder="名称">
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="col-sm-2 control-label">模块</label>
	    <div class="col-xs-3">
	      <input type="text" class="form-control" id="module"  value="{{.DataSingleton.Mod}}" name="module" placeholder="模块">
	    </div>
	  </div>
	 <div class="form-group">
	    <label class="col-sm-2 control-label">Controller</label>
	    <div class="col-xs-3">
	      <input type="text" class="form-control" id="controller" value="{{.DataSingleton.Controller}}" name="controller" >
	    </div>
	  </div>
	 <div class="form-group">
	    <label class="col-sm-2 control-label">Action</label>
	    <div class="col-xs-3">
	      <input type="text" class="form-control" id="action" name="action"  value="{{.DataSingleton.Action}}" >
	    </div>
	  </div>
	 <div class="form-group">
	    <label class="col-sm-2 control-label">域名映射</label>
	    <div class="col-xs-2">
		<select name="domainMap" class="form-control">
		<option value="">--请选择--</option>
		{{$dmap:=.DataSingleton.DomainMap}}
		{{range $key,$value:=.DomainConfig}}
		<option 	{{if(ne $dmap $value.DomainMap) }} selected="selected" {{end}} value="{{$value.DomainMap}}">{{$value.Name}}</option>
		{{end}}
		</select>
	    </div>
	  </div>
	 <div class="form-group">
	    <label class="col-sm-2 control-label">排序值</label>
	    <div class="col-xs-2">
	      <input type="text" class="form-control" id="obyid" value="{{.DataSingleton.Obyid}}" name="obyid" placeholder="排序值">
	    </div>
	  </div>
	 <div class="form-group">
	    <label class="col-sm-2 control-label">样式</label>
	    <div class="col-xs-3">
	      <input type="text" class="form-control" id="csscode" name="csscode" {{.DataSingleton.Csscode}} placeholder="样式">
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-xs-offset-2 col-xs-10">
	     {{if eq .DoAct "add"}}
		<button type="submit" class="btn btn-success btn-flat">添加</button>
		{{else}}
		<button type="submit" class="btn btn-primary btn-flat">修改</button>
		{{end}}
	    </div>
	  </div>
	{{end}}
	<iframe name="iframe-s" style="display:none"></iframe>
	</form>
	</div><!-- /.box-body -->
</div>
