
<div class="box-body">
	<ul class="list-group">
	{{range $index, $elem :=.PList}}
	  {{$count:=$elem|len}}
	  {{if gt $count 0}}  
		<li class="list-group-item">
		{{range $i, $permit :=$elem}}
			<a class="btn {{if $permit.Active}} bg-orange{{else}} btn-default btn-flat{{end}}" href="{{urlfor "PermitController.List"  "pid" $permit.Id}}"><i class="fa {{$permit.Csscode}}"> </i> {{$permit.Name}}</a>
		{{end}}   
		</li>
		{{end}}
	{{end}} 
	</ul>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box ">
            <div class="box-header">
                <h3 class="box-title">{{.TableTitle}}</h3>                                    
            </div><!-- /.box-header -->
            <div class="box-body table-responsive">
               <!--  <table id="example2" class="table table-bordered table-hover table-mailbox">-->
                <table id="example2" class="table table-bordered table-hover table-mailbox">
                    <thead>
                        <tr class="">
							<th class="text-center">
							<label>
                                                <input type="checkbox" id="check-all"/>
                                            </label>
							</th>
                            <th class="text-center">名称</th>
                            <th class="text-center">模块</th>
                            <th class="text-center">Controller</th>
                            <th class="text-center">Action</th>
                            <th class="text-center">上级权限</th>
							<th class="text-center">域名映射</th>
                            <th class="text-center">排序值</th>
                            <th class="text-center">样式</th>
                        </tr>
                    </thead>
                    <tbody>
					{{range $index, $elem :=.NowChidList}}
                        <tr>
						    <td class="text-center small-col"><input type="checkbox" name="pids[]" value="{{$elem.Id}}"/></td>
                            <td class="text-center">{{$elem.Name}}</td>
                            <td class="text-center">{{$elem.Mod}}</td>
                            <td class="text-center">{{$elem.Controller}}</td>
                            <td class="text-center">{{$elem.Action}}</td>
                            <td class="text-center">{{$elem.UppermitId}}</td>
                            <td class="text-center">{{$elem.DomainMap}}</td>
                            <td class="text-center">{{$elem.Obyid}}</td>
                            <td  class="text-center">{{if ne $elem.Csscode ""}}<i class="fa {{$elem.Csscode}}"></i> {{end}}{{$elem.Csscode}}</td>
                        </tr>
					{{end}}
                        
                    </tbody>
                   
                </table>
            </div><!-- /.box-body -->
        </div>
    </div>
</div>

