<div id="messagetitle">提示信息：<span id="message">{{.Result.Message}}</span><div>
<div id="goto">{{.Result.Data.Goto}}</div>
<div id="code">{{.Result.Code}}</div>
<script type="text/javascript">
var code = document.getElementById("code").innerHTML;
if(parseInt(code)==0){
	var gotoString = document.getElementById("goto").innerHTML;
	if(gotoString!=""){
		parent.location.href=gotoString
	}else{
		parent.showerror(document.getElementById("message").innerHTML);
	}
}else{
	parent.showerror(document.getElementById("message").innerHTML);
}

</script>