<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{.PageTitle}}{{.DashboardTitle}}</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
{{range $index, $elem := .CssFile}}
<link rel="stylesheet" href="/assets/css/{{$elem}}?v={{$.PageVersion}}" />{{end}}{{range $index, $elem := .JsFileBefore}} 
<script type="text/javascript" src="/assets/js/{{$elem}}?v={{$.PageVersion}}"></script> {{end}}
   <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="skin-blue">
{{.HtmlHead}}
 <div class="wrapper row-offcanvas row-offcanvas-left">
{{.HtmlSideBar}}
    <aside class="right-side">
        <section class="content-header">
            <h1>{{.UserId}}
                {{.PageTitle}}
                <small> {{.PageSmallTitle}}</small>
            </h1>{{str2html .Breadcrumbs}}
         </section>
        <section class="content">
          {{.LayoutContent}}
        </section>
    </aside>
</div>
    {{.HtmlScriptsAfter}}
 </body>
</html>
